.banner {
    position: relative;
    background-color: $white;

    // .banner__container
    &__container {
        display: block;
        max-width: 1330px;
        margin: 0 auto;
        padding: 68px 0px 120px;
    }

    // .banner__img-container
    &__img-container {
        position: relative;
        text-align: center;
        max-width: 780px;
        width: 100%;
        margin-bottom: 50px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100%/2 - 50px);
        transform-origin: 0 50%;
        background-color: $orange;
    }
}

.banner-information {
    margin: 0 0 0 auto;
    width: calc(100%/2 - (-50px));
    padding: 0 20px 0 15px;


    // .banner-information__row
    &__row {
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 10px;
        color: $orange;

        span {
            font-weight: 700;
            color: $orange;
        }

    }

    // .banner-information__title
    &__title {
        max-width: 250px;
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }

    // .banner-information__line
    &__line {
        max-width: 250px;
        margin: 20px 0 25px;
        padding: 1px;
        background-color: $orange;
    }

    // .banner-information__text
    &__text {
        max-width: 280px;
        font-weight: 400;
        font-size: 10px;
    }

    // .banner-information__btn-container
    &__btn-container {
        max-width: 140px;
    }

    // .banner-information__advice-btn
    &__advice-btn {
        @include button-sm;
        margin-top: 30px;
    }
}

@include sm {
    .banner {

        &__container {
            padding: 78px 0px 120px;
        }

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100%/2 - 90px);
            transform-origin: 0 50%;
            background-color: $orange;
        }
    }

    .banner-information {
        width: calc(100%/2 - (-60px));

        // .banner-information__row, .banner-information__text
        &__row,
        &__text {
            max-width: 330px;
            font-size: 12px;
        }

        // .banner-information__title
        &__title {
            max-width: 300px;
            font-size: 30px;
        }

        // .banner-information__line
        &__line {
            max-width: 300px;
        }

        // .banner-information__btn-container
        &__btn-container {
            max-width: 150px;
        }

        &__advice-btn {
            @include button-md;
        }
    }
}

@include md {
    .banner {

        // .banner__container
        &__container {
            display: flex;
            align-items: center;
            padding: 120px 15px 120px;
        }

        // .banner__img-container
        &__img-container {
            margin-right: 25px;
            margin-bottom: 0;
        }

        &::before {
            width: calc(100%/2 - 135px);
        }
    }

    .banner-information {
        width: calc(100%/2 - (-50px));

        // .banner-information__title
        &__title {
            font-size: 28px;
        }
    }
}

@include lg {
    .banner {

        // .banner__container
        &__container {
            padding: 140px 15px 120px;
        }

        &::before {
            width: calc(100%/2 - 180px);
        }
    }

    .banner-information {
        width: calc(100%/2 - (-20px));

        // .banner-information__title
        &__title {
            max-width: 350px;
            font-size: 36px;
        }

        // .banner-information__line
        &__line {
            max-width: 350px;
        }

        // .banner-information__text 
        &__text {
            max-width: 380px;
            font-size: 14px;
        }

        // .banner-information__btn-container
        &__btn-container {
            max-width: 210px;
        }

        // .banner-information__advice-btn
        &__advice-btn {
            @include button-md;
        }
    }
}

@include xl {
    .banner {

        // .banner__img-container
        &__img-container {
            margin-right: 50px;
        }

        &::before {
            width: calc(100%/2 - 180px);
        }
    }

    .banner-information {

        // .banner-information__title
        &__title {
            font-size: 42px;
        }
    }
}