.footer {
    background-color: $white;

    // .footer__container
    &__container {
        display: block;
        text-align: center;
    }

    ._container {
        padding: 30px 20px;
    }

    // .footer__top-container
    &__top-container {
        display: block;
    }

    // .footer__bottom-container
    &__bottom-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;


        &>*:not(:last-child) {
            margin-bottom: 10px;
        }

        & * {
            color: $gray;
            font-size: 14px;
            line-height: 140%;
        }
    }

    &__call-back {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
    }
}

.footer-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    font-weight: 500;

    // .footer-logo__item
    &__item {

        // .footer-logo__item_left
        &_left {
            grid-column: 1 / 2;
            text-align: right;
            margin: auto 15px auto 0;
            font-size: 30px;

            span {
                font-size: 50px;
            }
        }

        // .footer-logo__item_right
        &_right {
            grid-column: 2 / 3;
            display: block;
            text-align: left;
            margin: auto 0;

            &>* {
                line-height: 15px;
                font-size: 14px;
            }
        }

        // .footer-logo__item_extra
        &_extra {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            margin: 5px 0 0 17px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.45em;
            text-transform: uppercase;
            color: $orange;
        }
    }
}

.footer-menu {

    // .footer-menu__list
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
        margin: auto 0;
        padding: 20px 0;
    }

    // .footer-menu__item
    &__item {
        margin: 7px 10px;
    }
}

.call-back-footer {

    // .call-back__number
    &__number {
        margin-right: 20px;
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
    }

    // .call-back__btn
    &__btn {
        @include button-sm;
    }
}

.social-network {

    // .social-network__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .social-network__item
    &__item {
        margin: 0 15px;

        a {
            font-size: 20px;
        }
    }
}

@include sm {
    .footer {

        // .footer__bottom-container
        &__bottom-container {
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 30px;

            &>*:not(:last-child) {
                margin-bottom: 0;
            }

            &>*:not(:first-child) {
                margin-right: 20px;
            }
        }
    }

    .footer-menu {

        // .footer-menu__list
        &__list {
            flex-direction: row;
            max-height: 80px;
            justify-content: center;
        }
    }
}

@include md {
    .footer {

        // .footer__top-container
        &__top-container {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 10px;
        }

        // .footer__bottom-container
        &__bottom-container {
            justify-content: space-between;
            margin-top: 0;
        }

        // .footer__privacy-policy
        &__privacy-policy {
            a:hover {
                color: $orange;
            }
        }
    }

    .footer-logo {
        justify-content: left;
        grid-template-columns: 130px 120px;

        // .footer-logo__item
        &__item {

            // .footer-logo__item_left
            &_left {
                text-align: left;
                font-size: 36px;

                span {
                    font-size: 54px;
                }
            }

            // .footer-logo__item_right
            &_right {

                &>* {
                    line-height: 16px;
                    font-size: 15px;
                }
            }

            // .footer-logo__item_extra
            &_extra {
                text-align: left;
                margin: 0;
                letter-spacing: 0.40em;
            }
        }
    }

    .footer-menu {

        // .footer-menu__list
        &__list {
            flex-direction: column;
            max-height: 150px;
        }

        // .footer-menu__item
        &__item {

            a:hover {
                color: $orange;
            }
        }
    }

    .call-back-footer {
        display: block;
        margin: auto 0 auto auto;
        max-width: 190px;

        // .call-back__number
        &__number {
            margin-right: 0;
            font-size: 16px;
        }

        // .call-back__btn
        &__btn {
            margin-top: 5px;
            @include button-md;
        }
    }

    .fa-instagram:hover {
        background-image: $instagram;
        background-clip: text;
        color: transparent;
    }

    .fa-facebook-f:hover {
        color: $facebook;
    }

    .fa-twitter:hover {
        color: $twitter;
    }
}

@include lg {

    .footer-logo {
        grid-template-columns: 142px 140px;

        // .footer-logo__item
        &__item {

            // .footer-logo__item_left
            &_left {
                font-size: 40px;

                span {
                    font-size: 60px;
                }
            }

            // .footer-logo__item_right
            &_right {

                &>* {
                    line-height: 17.56px;
                }
            }

            // .footer-logo__item_extra
            &_extra {
                letter-spacing: 0.55em;
            }
        }
    }

    .call-back-footer {
        max-width: 200px;

        // .call-back__btn
        &__btn {
            @include button-lg;
        }
    }
}