.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    // header__container
    &__container {
        position: relative;

    }

    &__top-container {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        background-color: $white;
        z-index: 10;

        &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100%/2 - 50px);
            transform-origin: 0 50%;
            background-color: $orange;
        }
    }

    // header__dropdown-container
    &__dropdown-container {
        position: absolute;
        display: none;


        &.show-dropdown {
            top: 68px;
            left: 0;
            display: block;
            width: 100%;
            padding: 20px 20px 30px;
            border-top: 1px solid $light-orange;
            background-color: $white;
            transition: top .3s;
            animation: dropdown .9s ease-out;
            z-index: 1;

            &>*:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

@keyframes dropdown {
    from {
        top: -70px;
    }

    to {
        top: 60px;
    }
}


.main-logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    z-index: 11;

    // .main-logo__item
    &__item {

        // .main-logo__item_left
        &_left {
            font-size: 26px;

            span {
                font-size: 40px;
            }
        }

        // .main-logo__item_right
        &_right {
            display: none;
        }
    }

}

.menu {
    display: flex;
    align-items: center;

    // .menu__list
    &__list {
        display: block;

        &>*:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    // .menu__item
    &__item {
        font-size: 10px;
        font-weight: 400;
    }

    // .menu__link
    &__link {
        white-space: nowrap;
    }
}

.call-back {
    display: flex;
    align-items: center;
    text-align: center;
    width: 300px;

    // .call-back__number
    &__number {
        margin-right: 20px;
        font-weight: 600;
        font-size: 10px;
        white-space: nowrap;
    }

    // .call-back__btn
    &__btn {
        @include button-sm;
    }
}

.burger-button {
    position: relative;
    display: block;
    height: 20px;
    width: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.5s;

    // .burger-button__item
    &__item {
        top: 0;
        display: block;
        @include burger-button-line;


        &::before {
            top: 8px;
            @include burger-button-line;
        }

        &::after {
            top: 16px;
            @include burger-button-line;
        }
    }

    &.open-burger {

        &__item {
            transition-duration: 0.5s;
            background: transparent;

            &::before {
                transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
            }

            &::after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
            }
        }
    }
}


@include sm {
    .header {

        // header__dropdown-container
        &__dropdown-container {

            &.show-dropdown {
                padding: 30px 20px;
                top: 78px;
            }
        }

        &__top-container {
            padding: 15px;

            &::before {
                width: calc(100%/2 - 90px);
            }
        }
    }

    .main-logo {

        // .main-logo__item
        &__item {

            // .main-logo__item_left
            &_left {
                margin-right: 10px;
            }

            // .main-logo__item_right
            &_right {
                display: block;

                &>* {
                    line-height: 13.6px;
                    font-size: 11px;
                }
            }
        }
    }

    .call-back {

        // .call-back__number
        &__number {
            font-size: 12px;
        }

        // .call-back__btn
        &__btn {
            @include button-md;
        }
    }
}

@include md {
    .header {
        top: 10px;

        &__container {
            display: flex;
        }

        &__top-container {
            position: static;
            justify-content: left;
            width: 34%;
            margin-right: 5px;
            padding: 0;
            background-color: transparent;
            z-index: 1;

            &::before {
                visibility: hidden;
            }
        }

        // header__dropdown-container
        &__dropdown-container {
            position: static;
            display: flex;
            justify-content: flex-end;
            width: 66%;

            // &.show-dropdown {
            //     display: none;
            // }
        }

    }

    .main-logo {

        // .main-logo__item
        &__item {

            // .main-logo__item_left
            &_left {
                font-size: 36px;

                span {
                    font-size: 55px;
                }
            }

            // .main-logo__item_right
            &_right {

                &>* {
                    line-height: 17.6px;
                    font-size: 13px;
                }
            }
        }

    }

    .menu {
        margin: 0 auto;

        // .menu__list
        &__list {
            display: flex;
            flex-wrap: wrap;

            &>*:not(:last-child) {
                margin-right: 15px;
                margin-bottom: 0;
            }
        }

        // .menu__item
        &__item {
            font-size: 12px;
            margin-top: 5px;
        }

        // .menu__link
        &__link {

            &:after {
                content: ' ';
                position: relative;
                display: block;
                width: 0;
                margin: 2px auto 0;
                border: 0.9px solid $white;
                transition: all 280ms ease-in-out;
            }

            &:hover:after {
                width: 100%;
                border-color: $orange;
                transition: width 350ms ease-in-out;
            }
        }
    }

    .call-back {
        display: block;
        margin: 5px 0 0 5px;
        max-width: 150px;

        // .call-back__number
        &__number {
            margin-right: 0;
            font-size: 14px;
        }

        // .call-back__btn
        &__btn {
            @include button-md;
            margin: 5px 0 0;
        }
    }

    .burger-button {
        display: none;
    }
}

@include lg {
    .header {}

    .main-logo {

        // .main-logo__item
        &__item {

            // .main-logo__item_left
            &_left {
                font-size: 40px;

                span {
                    font-size: 60px;
                }
            }

            // .main-logo__item_right
            &_right {

                &>* {
                    line-height: 19.6px;
                    font-size: 14px;
                }
            }
        }
    }

    .menu {

        // .menu__item
        &__item {
            font-size: 14px;
            margin-top: 7px;
        }
    }

    .call-back {
        max-width: 165px;

        // .call-back__number
        &__number {
            font-size: 16px;
        }

        // .call-back__btn
        &__btn {
            @include button-lg;
        }
    }
}

// .btn2 {

//     .icon {
//         transition-duration: 0.5s;
//         position: absolute;
//         height: 8px;
//         width: 60px;
//         top: 30px;
//         background-color: $dark;

//         &:before {
//             transition-duration: 0.5s;
//             position: absolute;
//             width: 60px;
//             height: 8px;
//             background-color: $dark;
//             content: "";
//             top: -20px;
//         }

//         &:after {
//             @include icon-after(8px, 60px, 20px);
//             transition-duration: 0.5s;
//             width: 60px;
//             height: 8px;
//             background-color: $dark;
//             content: "";
//         }
//     }

//     &.open {
//         .icon {
//             transition-duration: 0.5s;
//             background: transparent;

//             &:before {
//                 transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
//             }

//             &:after {
//                 transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
//             }
//         }
//     }

//     &:hover {
//         cursor: pointer;
//     }
// }