// ------------CONSULTATION POPUP------------
.consultation-popup {
    @include popup-body;

    &.show-body {
        visibility: visible;

        .consultation {
            transform: translate(-50%, -50%) scale(1);
            visibility: visible;
        }
    }

    // .consultation-popup__container
    &__container {
        max-width: 350px;
    }
}

.consultation {
    @include popup;
    padding: 57px 40px;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s;

    &.hide-consultation {
        visibility: hidden;
    }

    // .consultation__subtitle
    &__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    // .consultation__input-item
    &__input-item {
        width: 100%;
        border: none;
        border-bottom: 2px solid $gray;
        padding: 12px 7px;
        margin: 2px 0;

        &::placeholder {
            color: $black;
            opacity: 0.7;
        }

        &:hover {
            border-bottom: 2px solid $light-orange;
            transition: border-bottom .3s ease-in-out;
        }

        &:focus-visible {
            outline: none;
            border-bottom: 2px solid $orange;
        }
    }

    // .consultation__privacy-policy
    &__privacy-policy {
        text-align: center;
        margin: 12px 0 0;
        color: $gray;
        font-size: 12px;

        a {
            color: $gray;
            border-bottom: 1px solid $gray;

            &:hover {
                color: $orange;
                border-bottom: 1px solid $orange;
            }
        }
    }

    // .consultation__btn-container
    &__btn-container {
        max-width: 100%;
    }

    // .consultation__submit
    &__submit {
        @include button;
        margin-top: 30px;
    }
}

.confirmation {
    @include popup;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 63px 43px 55px;
    visibility: hidden;
    max-width: 350px;
    width: 100%;

    &.show-confirmation {
        visibility: visible;
        animation: rotation .2s ease-out;

    }

    @keyframes rotation {
        from {
            transform: rotateY(90deg);
            top: 0;
            left: 0;
        }

        to {
            transform: rotateY(0deg);
            top: 0;
            left: 0;
        }
    }

    // .confirmation__subtitle
    &__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    // .confirmation__img-container
    &__img-container {
        position: relative;
        max-width: 200px;
        height: auto;
        margin: 20px auto 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// ------------POPUP CLOSE BUTTONS------------
.close-btn {
    @include close-btn;
}