@import 'additional/variables';
@import 'additional/mixins';
@import 'additional/fonts';
@import 'header';
@import 'home-page/banner';
@import 'popups/consultation-popup';
@import 'popups/confirmation-popup';
@import 'home-page/preferences';
@import 'home-page/catalog-slider';
@import 'home-page/order';
@import 'footer';

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    color: $black;
    line-height: 120%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    flex: 1 1 auto;
}

.home-page {
    &>* {
        margin-bottom: 50px;
    }
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.title-h3 {
    position: relative;
    font-size: 25px;
    margin-bottom: 12px;
    line-height: 43.2px;

    &::before {
        position: absolute;
        left: -15px;
        bottom: 4px;
        content: ' ';
        width: 115px;
        height: 15px;
        background-color: $light-orange;
        z-index: -1;
    }
}

// -------------PRIVACY-POLICY---------------
.privacy-policy {
    @include privacy-policy;
}

// ------------POPUP CLOSE BUTTONS------------
.close-btn {
    @include close-btn;
}

@include md {
    .title-h3 {
        font-size: 32px;

        &::before {
            bottom: 0;
            width: 120px;
            height: 18px;
        }
    }

    .close-btn {

        &:hover {
            @include close-btn-hover;
        }
    }
}

@include lg {
    .title-h3 {
        font-size: 33px;
    }

    .privacy-policy {
        @include privacy-policy-lg;
    }
}