$light-orange: #F9BB88;
$orange: #FF9646;
$black: #202020;
$gray: rgba(32, 32, 32, 0.4);
$white: #F4F4F4;
$facebook: #3b5998;
$twitter: #1DA1F2;
$instagram: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888);
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;