.about-company {

    // .about-company__title
    &__title {

        // .about-company__title_h4
        &_h4 {
            font-size: 23px;
            font-weight: 600;
            line-height: 36.8px;
        }
    }

    // .about-company__information
    &__information {
        margin-top: 30px;

        &>*:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    // .about-company__description
    &__description {

        // .about-company__description_left-block
        &_left-block {
            &>*:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        // .about-company__description_right-block
        &_right-block {
            max-width: 450px;
            width: 100%;
            margin: 0 auto;
        }
    }

    // .about-company__text
    &__text {
        font-size: 12px;
        line-height: 19.2px;
    }

    // .about-company__specialization-container
    &__specialization-container {
        margin-top: 20px;

        &>*:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    // .about-company__img-container
    &__img-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        &::before {
            content: ' ';
            position: absolute;
            top: -5px;
            left: 0;
            height: 74px;
            width: 21px;
            background-color: #F9BB88;
            z-index: 0;
        }

        img {
            position: relative;
            max-width: 60px;
            margin-left: 5px;
            z-index: 1;
        }

        span {
            margin-left: 15px;
            font-size: 16px;
            font-weight: 600;
            line-height: 25.2px;
        }
    }
}

@include sm {
    .about-company {

        // .about-company__information
        &__information {
            display: flex;
            flex-wrap: wrap;
        }

        // .about-company__description
        &__description {

            // .about-company__description_center-block
            &_center-block {
                width: 47%;
                margin-right: 3%;
            }

            // .about-company__description_right-block
            &_right-block {
                max-width: 340px;
                width: 50%;
            }
        }
    }
}

@include md {}

@include lg {
    .about-company {

        // .about-company__information
        &__information {
            flex-wrap: nowrap;

            &>*:not(:last-child) {
                margin-bottom: 0;
                margin-right: 60px;
            }
        }

        // .about-company__description
        &__description {

            // .about-company__description_left-block
            &_left-block {
                width: 33%;
            }

            // .about-company__description_center-block
            &_center-block {
                width: 33%;
            }

            // .about-company__description_right-block
            &_right-block {
                max-width: 340px;
                width: 33%;
            }
        }
    }
}