.catalog-slider {

    // .catalog-slider__body
    &__body {
        margin-top: 20px;
    }

    // .catalog-slider__item
    &__item {
        border: 2px solid $white;
        height: 100%;
    }

    // .catalog-slider__bottom-container
    &__bottom-container {
        padding: 10px 15px 30px;
        background-color: $white;
        text-align: center;

        &>*:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // .catalog-slider__img-container
    &__img-container {
        display: flex;
        align-items: center;
        padding: 30px;

        img {
            position: relative;
            max-width: 400px;
            margin: 0 auto;

            // &::after {
            //     content: ' ';
            //     position: absolute;
            //     background-image: linear-gradient(to right,
            //             black, black 50%,
            //             green 50%, green 75%,
            //             yellow 75%, yellow);
            // }

        }
    }

    // .catalog-slider__price
    &__price {
        font-size: 14px;
        line-height: 20px;

        span {
            padding: 0 3px;
            font-size: 22px;
            font-weight: 600;
            line-height: 37px;
        }
    }

    // .catalog-slider__btn-container
    &__btn-container {
        margin: 0 auto;
        max-width: 150px;
    }

    // .catalog-slider__btn
    &__btn {
        display: block;
        @include button-sm;
    }

    .slick-dots {
        margin-top: 20px;
        @include slick-dots;
    }
}

@include sm {
    .catalog-slider {

        // .catalog-slider__item
        &__item {
            margin: 0 10px;
        }

        // .catalog-slider__body
        &__body {
            position: relative;
        }

        // .catalog-slider__img-container
        &__img-container {
            min-height: 300px;
            height: 100%;
        }

        .slick-arrow {
            top: -56px;
            z-index: 10;
        }
    }
}

@include md {
    .catalog-slider {

        // .catalog-slider__btn-container
        &__btn-container {
            max-width: 160px;
        }

        // .catalog-slider__btn
        &__btn {
            @include button-md;
        }
    }
}